@model IEnumerable<Projects>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
<a asp-action="CreateProject" asp-controller="Project" class="btn btn-primary">Create</a>
</div> 

<table class="table">
    <thead>
        <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var item in Model )
        {
        <tr>
            <td>@item.ProjectName</td>
            <td>@item.ProjectDescription</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>
            <a asp-action="EditProject" asp-controller="Project" asp-route-ProjectID="@item.ProjectID" class="btn btn-outline-success">Edit</a>
            <a asp-action="DeleteProject" asp-controller="Project" asp-route-ProjectID="@item.ProjectID" class="btn btn-outline-danger">Delete</a>
            <a asp-action="DetailsProject" asp-controller="Project" asp-route-ProjectID="@item.ProjectID" class="btn btn-outline-primary">Details</a>

            </td>
        </tr>
        }
        }
    </tbody>
</table>